.App {
    text-align: center;
    width: 100vw;
    height: 100%;
    background-color: var(--color-bg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
    background-color: var(--color-footer);
    position: fixed;
    width: 100%;
}

.navbar .navbarTitle {
    font-size: 1.5rem;
    font-weight: 600;
}


.navbar .links .link, .navbar .links .activeLink {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 300ms;
    cursor: pointer;
}

.navbar .links .link:nth-child(1), .navbar .links .activeLink:nth-child(1) {
    margin-right: 2rem;
}

.navbar .links .activeLink {
    color: var(--color-subtext);
    transition: 300ms;
}

.navbar .links .link {
    color: white;
    transition: 300ms;
}

.navbar .links .link:hover {
    color: var(--color-subtext);
    transition: 300ms;
}

.content {
    padding-top: calc(64px + 20px);
}